# Gradle and build outputs
.gradle/
build/
app/build/
.build-outputs/
*.apk
*.aar
*.aab

# Kotlin
.kotlin/

# Android Studio / IntelliJ IDEA
*.iml
.idea/
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml

# System / OS files
.DS_Store
Thumbs.db

# Private / local configuration files
local.properties
.env
.env.local
.env.*.local

# Keystores / Signing
*.jks
*.keystore
!debug.keystore.base64

# Captures and logs
/captures
.externalNativeBuild
.cxx
*.log
